*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes pulsate {
    0%, 100% {
      font-size: 16px; /* Initial size */
    }
    50% {
      font-size: 20px; /* Increased size */
    }
  }
  
  h1{
    font-family: 'Oswald', sans-serif;
  }
.navbar_color{
    background: #C4DFDF;
}
.glow {
    color: #fff;
    text-shadow: 0 0 30px #e4ebe4;
    animation: pulsate 2s infinite ease-in-out ;
}
.name_text{
    font-family: 'Sixtyfour', sans-serif;
}
img {
    width: 100%; /* Make the image width responsive to the container */
    height: 100%; /* Maintain the aspect ratio */
    object-fit:cover; /* Cover the container without distorting aspect ratio */
}
.carousel_section{
    background: #D2E9E9;
    background-size: 400% 400%;
    animation: gradientLoop 15s ease-in infinite;  

}
.carousel-item{
    width:35rem;
    height: 35rem;
}
.website_Details{
    background: #E3F4F4;
    background-size: 400% 400%;
    animation: gradientLoop 15s ease-in infinite;  
}
.skill_section{
    height:10rem;
}
.skill3 {
    font-family: 'Space Grotesk', sans-serif;
    transition: font-size 0.3s ease, box-shadow 0.3s ease; /* Add transition for font-size and box-shadow */
}

.skill3:hover {
    font-size: large;
    box-shadow: 5px 10px 10px rgba(25, 23, 23, 0.3); /* Add a box shadow on hover */
}


.footer_Section{
    background: #E3F4F4;
}
img {
    width: 2rem;
    height: 2rem;
    transition: width 0.3s ease, box-shadow 0.3s ease; /* Apply transition to width and box-shadow */
}

img:hover {
    width: 3rem;
    box-shadow: 5px 10px 10px rgba(255, 254, 254, 0.3); /* Add box-shadow on hover */
}
